@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-4 col-sm-12 my-auto d-flex justify-content-center mb-4">
        <div class="d-flex align-items-center my-auto">
            <img class="img-fluid mb-5" src="~/images/undraw_secure_login_pdn4.svg" width="300" />
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <h3>Login</h3>
        <hr />
        <form method="post" id="form-login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label><span class="text-danger">*</span>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><span class="text-danger">*</span>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>

            <div class="form-group mt-3 d-flex">
                <button type="submit" class="btn btn-primary mr-4">Login</button>
                <a class="btn btn-outline-info" asp-action="Register" asp-controller="Account">Registrar</a>
            </div>

        </form>
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#form-login").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true
                }
            }
        });
    });
</script>
