@{
    ViewData["Title"] = "Home";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800 font-weight-bold">Olá, @User.Identity.Name!</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="/orcamento/list" class="text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-file-invoice-dollar fa-2x text-success"></i>
                        </div>
                        <div class="col ml-4">
                            <div class="h6 mb-0 font-weight-bold text-success">Meus Orçamentos</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="/produto" class="text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-shopping-basket fa-2x text-primary"></i>
                        </div>
                        <div class="col ml-4">
                            <div class="h6 mb-0 font-weight-bold text-primary">Meus Produtos</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="/cliente" class="text-decoration-none">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-info"></i>
                        </div>
                        <div class="col ml-4">
                            <div class="h6 mb-0 font-weight-bold text-info">Meus Clientes</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>  <div class="col-xl-4 col-md-6 mb-4">
        <a href="/empresa" class="text-decoration-none">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-building fa-2x text-danger"></i>
                        </div>
                        <div class="col ml-4">
                            <div class="h6 mb-0 font-weight-bold text-danger">Minha Empresa</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

